services:
  wagon:
    image: quay.io/akretion/docky-ruby:latest
    volumes:
      - .:/workspace
      - ./bundle:/usr/local/bundle
    labels:
      docky.user: ubuntu
      docky.main.service: True
version: '3'
